/*
 * @Author: wanghaoyu
 * @Date: 2019-03-12 15:23:40
 * @Last Modified by: Howie
 * @Last Modified time: 2019-10-07 13:38:18
 */

 .pr {position: relative;}
 
 .df {display: flex;}
 .dn {display: none;}
 .fl1 {flex: 1;}

 .ac {align-items: center;}
 .as {align-items: flex-start}
 .ae {align-items: flex-end}
 .jsb {justify-content: space-between};
 .dfac {display: flex; align-items: center;}
 .fw {flex-wrap: wrap;}
 
 .mr1 {margin-right: 1px;}
 .mb1 {margin-bottom: 1px;}
 .ml1 {margin-left: 1px;}
 .mt1 {margin-top: 1px;}
 .mr4 {margin-right: 4px;}
 .mb4 {margin-bottom: 4px;}
 .ml4 {margin-left: 4px;}
 .mt4 {margin-top: 4px;}
 .mr5 {margin-right: 5px;}
 .mb5 {margin-bottom: 5px;}
 .ml5 {margin-left: 5px;}
 .mt5 {margin-top: 5px;}
 .mr8 {margin-right: 8px;}
 .mb8 {margin-bottom: 8px;}
 .ml8 {margin-left: 8px;}
 .mt8 {margin-top: 8px;}
 .mr10 {margin-right: 10px;}
 .mb10 {margin-bottom: 10px;}
 .ml10 {margin-left: 10px;}
 .mt10 {margin-top: 10px;}
 .mr11 {margin-right: 11px;}
 .mb11 {margin-bottom: 11px;}
 .ml11 {margin-left: 11px;}
 .mt11 {margin-top: 11px;}
 .mr12 {margin-right: 12px;}
 .mb12 {margin-bottom: 12px;}
 .ml12 {margin-left: 12px;}
 .mt12 {margin-top: 12px;}
 .mr14 {margin-right: 14px;}
 .mb14 {margin-bottom: 14px;}
 .ml14 {margin-left: 14px;}
 .mt14 {margin-top: 14px;}
 .mr15 {margin-right: 15px;}
 .mb15 {margin-bottom: 15px;}
 .ml15 {margin-left: 15px;}
 .mt15 {margin-top: 15px;}
 .mr2 {margin-right: 2px;}
 .mb2 {margin-bottom: 2px;}
 .ml2 {margin-left: 2px;}
 .mt2 {margin-top: 2px;}
 .m20 {margin: 20px;}
 .mt20 {margin-top: 20px;}
 .mr20 {margin-right: 20px;}
 .mb20 {margin-bottom: 20px;}
 .ml20 {margin-left: 20px;}
 .m22 { margin: 22px }
 .mt22 { margin-top: 22px }
 .mr22 { margin-right: 22px }
 .mb22 { margin-bottom: 22px }
 .ml22 { margin-left: 22px }
 .m25 { margin: 25px }
 .mt25 { margin-top: 25px }
 .mr25 { margin-right: 25px }
 .mb25 { margin-bottom: 25px }
 .ml25 { margin-left: 25px }
 .m30 { margin: 30px }
 .mt30 { margin-top: 30px }
 .mr30 { margin-right: 30px }
 .mb30 { margin-bottom: 30px }
 .ml30 { margin-left: 30px }
 .m35 { margin: 35px }
 .mt35 { margin-top: 35px }
 .mr35 { margin-right: 35px }
 .mb35 { margin-bottom: 35px }
 .ml35 { margin-left: 35px }
 .m40 { margin: 40px }
 .mt40 { margin-top: 40px }
 .mr40 { margin-right: 40px }
 .mb40 { margin-bottom: 40px }
 .ml40 { margin-left: 40px }
 .m45 { margin: 45px }
 .mt45 { margin-top: 45px }
 .mr45 { margin-right: 45px }
 .mb45 { margin-bottom: 45px }
 .ml45 { margin-left: 45px }
 .m50 { margin: 50px }
 .mt50 { margin-top: 50px }
 .mr50 { margin-right: 50px }
 .mb50 { margin-bottom: 50px }
 .ml50 { margin-left: 50px }
 
 .p15 { padding: 15px }
 .pt15 { padding-top: 15px }
 .pr15 { padding-right: 15px }
 .pb15 { padding-bottom: 15px }
 .pl15 { padding-left: 15px }
 .p20 { padding: 20px }
 .pt20 { padding-top: 20px }
 .pr20 { padding-right: 20px }
 .pb20 { padding-bottom: 20px }
 .pl20 { padding-left: 20px }
 .p25 { padding: 25px }
 .pt25 { padding-top: 25px }
 .pr25 { padding-right: 25px }
 .pb22 { padding-bottom: 25px }
 .pl25 { padding-left: 25px }
 .p30 { padding: 30px }
 .pt30 { padding-top: 30px }
 .pr30 { padding-right: 30px }
 .pb30 { padding-bottom: 30px }
 .pl30 { padding-left: 30px }
 .p40 { padding: 40px }
 .pt40 { padding-top: 40px }
 .pr40 { padding-right: 40px }
 .pb40 { padding-bottom: 40px }
 .pl40 { padding-left: 40px }
 .p60 { padding: 60px }
 .pt60 { padding-top: 60px }
 .pr60 { padding-right: 60px }
 .pb60 { padding-bottom: 60px }
 .pl60 { padding-left: 60px }
 
 .bgfff { background-color: #fff}
 
 .tc { text-align: center }
 .tl { text-align: left }
 .tr { text-align: right }
 
 .elp {overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
 
 .fs12 {font-size:12px;}
 .fs13 {font-size: 13px;}
 .fs14 {font-size: 14px;}
 .fs18 {font-size: 18px;}
 
 .cp {cursor: pointer;}
 
 
 